[global_config]
[keybindings]
[profiles]
  [[default]]
    background_color = "#fdf6e3"
    cursor_color = "#839496"
    font = JetBrains Mono 10
    foreground_color = "#657b83"
    palette = "#073642:#dc322f:#859900:#b58900:#268bd2:#d33682:#2aa198:#eee8d5:#002b36:#cb4b16:#586e75:#657b83:#839496:#6c71c4:#93a1a1:#fdf6e3"
    use_system_font = False
[layouts]
  [[default]]
    [[[child0]]]
      type = Window
      parent = ""
      order = 0
      position = 0:0
      maximised = False
      fullscreen = True
      size = 1920, 1080
      title = ~
      last_active_term = 3be162e1-5e0f-4248-a2c1-f97566cf3a07
      last_active_window = True
    [[[child1]]]
      type = VPaned
      parent = child0
      order = 0
      position = 236
      ratio = 0.21953488372093025
    [[[child2]]]
      type = HPaned
      parent = child1
      order = 0
      position = 958
      ratio = 0.5002610966057441
    [[[terminal3]]]
      type = Terminal
      parent = child2
      order = 0
      profile = default
      uuid = 3be162e1-5e0f-4248-a2c1-f97566cf3a07
    [[[terminal4]]]
      type = Terminal
      parent = child2
      order = 1
      profile = default
      uuid = 3f9450c4-d0c9-4e17-bff8-6f17a104bce0
    [[[terminal5]]]
      type = Terminal
      parent = child1
      order = 1
      profile = default
      uuid = 997e4896-300f-4d84-9535-b9206e2aba36
[plugins]
