[global_config]
[keybindings]
  layout_launcher = <Super>l
[profiles]
  [[default]]
    font = JetBrains Mono 14
    foreground_color = "#ffffff"
    palette = "#000000:#cc0000:#4e9a06:#c4a000:#3465a4:#75507b:#06989a:#d3d7cf:#555753:#ef2929:#8ae234:#fce94f:#729fcf:#ad7fa8:#34e2e2:#eeeeec"
    use_system_font = False
  [[hell]]
    background_color = "#fdf6e3"
    foreground_color = "#657b83"
[layouts]
  [[default]]
    [[[child0]]]
      type = Window
      parent = ""
      order = 0
      position = 0:0
      maximised = True
      fullscreen = False
      size = 1920, 1051
      title = ~
      last_active_term = 997e4896-300f-4d84-9535-b9206e2aba36
      last_active_window = True
    [[[terminal1]]]
      type = Terminal
      parent = child0
      order = 0
      profile = default
      uuid = 997e4896-300f-4d84-9535-b9206e2aba36
[plugins]
